---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Contact">

<h1>Contact Us</h1>

<p>Book your adventure today.</p>

<p>Email: efendicredzo4@gmail.com</p>

<p>Phone / Viber: +387 61 562 762</p>

</MainLayout>