---
import MainLayout from "../layouts/MainLayout.astro";
const base = import.meta.env.BASE_URL;
---

<MainLayout title="Thank You">

<h1>✅ Booking Sent!</h1>

<p>We will contact you soon.</p>

<a href={base} class="btn">Back to Home</a>

</MainLayout>